{{>header}}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- <form role="form" method="post", action="/users/edit"> -->
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">Edit Post</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <input class="form-control" type="text" name="title" id="title" placeholder="Title here" />
            
            <!-- Create the editor container -->
            <div id="editor">
            </div>
            <button id="clickEdit" class="btn btn-primary" type="submit">Submit</button>
        <!-- </form> -->
    </div>
    <!-- container-fluid -->
</div>
<!-- /#page-wrapper -->
{{>footer}}